body{
background-color: #941515;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 80' width='80' height='80'%3E%3Cpath fill='%232d2d2d' fill-opacity='0.79' d='M14 16H9v-2h5V9.87a4 4 0 1 1 2 0V14h5v2h-5v15.95A10 10 0 0 0 23.66 27l-3.46-2 8.2-2.2-2.9 5a12 12 0 0 1-21 0l-2.89-5 8.2 2.2-3.47 2A10 10 0 0 0 14 31.95V16zm40 40h-5v-2h5v-4.13a4 4 0 1 1 2 0V54h5v2h-5v15.95A10 10 0 0 0 63.66 67l-3.47-2 8.2-2.2-2.88 5a12 12 0 0 1-21.02 0l-2.88-5 8.2 2.2-3.47 2A10 10 0 0 0 54 71.95V56zm-39 6a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm40-40a2 2 0 1 1 0-4 2 2 0 0 1 0 4zM15 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm40 40a2 2 0 1 0 0-4 2 2 0 0 0 0 4z'%3E%3C/path%3E%3C/svg%3E");

}
#ejercicio{
  display:flex;
}
.lado{
  width:50%;
  margin-right:100px;
}
.dado{
  background-image:url(https://i.pinimg.com/originals/0b/61/ba/0b61ba096406865f0e76a9b07e36dc69.png);
  background-position:-803px;
  width:157px;
  height:156px;
}
#contenedor_dados{
  display:flex;
  width:315px;
  margin:0 auto;
}

#boton_tirar{
  display:block;
  width:100px;
  height:60px;
  margin:10px auto;
  background-color:#090326;
  color:#F2D857;
  border:0;
  border-radius:10px;
  cursor:pointer;
}

@media only screen and (min-width: 320px) and (max-width: 480px){
  #ejercicio{
    flex-direction:column;
  }
  .lado{
    width:100%;
  }
}